#calendar {
    width: 80%;
}

#new-room>td {
    text-align: center;
	color: green;
}

#new-room>td:hover{
	text-decoration: underline;
	cursor: default;
}

.editable>td{
    padding: 0;
}

.table-input {
    width: 100%;
    height: 100%;
    border: 0;
}

.table-num {
    width: 4em;
    height: 100%;
    border: 0;
}

.clickable-lbl.available {
    text-align: center;
	color: green;
}

.clickable-lbl{
    text-align: center;
	color: red;
}

.clickable-lbl:hover{
	text-decoration: underline;
	cursor: default;
}

.buttons{
   display: flex;
    width: 100%;
    justify-content: center;
}

.buttons>button{
    margin-left: 2em;
}

row>panel{
    height: 100%;
}