

#nav-title {
	color: white;
}

.page-header {
	padding-left: 20px;
}

.navbar {
	background-color: #333333;
}


.row {
	margin-left: 0px;
	margin-right: 0px;
}

.logo-img {
	display: inline;
	max-height: 70px;
	max-width: 70px;
}

#register-btn {
	min-width: 180px;
	float: right;
	text-align: center;
	color: white;
}

#login-btn {
	min-width: 180px;
	float: right;
	text-align: center;
	color: white;
}

.middle-class {
	position: relative;
  	top: 50%;
  	transform: translateY(-50%);
}

.navbar-brand{
    padding: 25px 15px;
}

.navbar-nav>li>a {
    padding: 25px 15px;
    height: 70px;
}

.navbar-nav {
	height: 70px;
	line-height: 70px;
	vertical-align: center;
	float: right;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: #e7e7e7;
    color: #555;
}

.panel-header {
	text-align: center;
}

.submit-btn {
	margin-left: 15px;
	padding: 10px;
	min-width: 100px;
}