html {
	height: 100%;
}

body {
	height: 100%;
	background-image: url('../images/background.jpg');
	background-size: 100% 100%;
	min-height: 100vh;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: white;
}

h1 {
	color: white;
}

.panel-header {
	padding-left: 15px;
}

.info-row {
	min-height: 800px;
}

.half-side-panel {
	color: white;
	min-height: 365px;
	background-color: #BBBBBB;
	background-color: rgba(0, 0, 0, 0.75);
	z-index: 1;
}

.full-side-panel {
	color: white;
	min-height: 720px;	
	background-color: #BBBBBB;
	background-color: rgba(0, 0, 0, 0.75);
	z-index: 1;
}

.header-col {
	height: 40px;
	line-height: 40px;
	text-align: right;
}

.data-col {
	height: 40px;
	line-height: 40px;
	text-align: left;	
}

.image-block {
	display: inline;
	margin: auto;
}

.room-img {
	padding: 5px;
	max-height: 200px; 
	display: inline;
}

figcaption {
	text-align: center;
}