.dropdown-menu{
    margin: 5px 0 0;   
    min-width: 100%;
    max-height:85px;/* you can change as you need it */
    overflow:auto;/* to get scroll */
}
#create {
    margin-bottom: 0px;
}
#search {
	width:78%;
}
#new_admin_panel {
	padding-right: 0px;
}
#search-but{
	padding:0px;
}