#room-image{
    padding-top: 0px;
}

#room-image .img-responsive{
	padding: 10px;
}

.panel-body{
    min-height: 445px;
}

.image-panel-body{
   	max-height: 500px;
    overflow: hidden;
}

.datepicker :hover{
    cursor: pointer;
}

#myCarousel{
  max-width: 100%;
}

.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 100%;
      margin: 0;
      margin: auto;
  }
